@model ServicioModel
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        Editar Servicio
    </div>
    <div class="card-body">
        <form asp-action="Editar" asp-controller="MantenedorServicio" method="post">
            <input asp-for="IdServicio" type="hidden" class="form-control"/>
            <div class="mb-3">
                <label class="form-label">Tipo de Servicio</label>
                <input asp-for="TipoServicio" type="text" class="form-control">
                <span asp-validation-for="TipoServicio" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Descripción del Servicio</label>
                <input asp-for="Descripcion" type="text" class="form-control">
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Placas del Vehículo</label>
                <input asp-for="VehiculoFK" type="text" class="form-control">
                <span asp-validation-for="VehiculoFK" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Nivel de Aceite</label>
                <input asp-for="NivAceite" type="text" class="form-control">
                <span asp-validation-for="NivAceite" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Nivel Refrigerante</label>
                <input asp-for="NivRefrigerante" type="text" class="form-control">
                <span asp-validation-for="NivRefrigerante" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Nivel Liquido Dirección</label>
                <input asp-for="NivLiquidoDireccion" type="text" class="form-control">
                <span asp-validation-for="NivLiquidoDireccion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Nivel Liquido Frenos</label>
                <input asp-for="NivLiquidoFrenos" type="text" class="form-control">
                <span asp-validation-for="NivLiquidoFrenos" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Maestro</label>
                <input asp-for="MaestroFK" type="number" class="form-control">
                <span asp-validation-for="MaestroFK" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Mecánico Encargado</label>
                <input asp-for="UsuarioFK" type="number" class="form-control">
                <span asp-validation-for="UsuarioFK" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Fecha de Realización</label>
                <input asp-for="FechaCompra" type="date" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary"><i class="bi bi-person-plus-fill"></i> Guardar</button>
            <a asp-action="Listar" asp-controller="MantenedorServicio" class="btn btn-warning"><i class="bi bi-list"></i> Volver a la lista</a>
        </form>
    </div>
</div>


