@model RepuestoModel
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h3 style="text-align:center">CREAR REPUESTO</h3>
    </div>
    <div class="card-body">
        <form asp-action="Guardar" asp-controller="MantenedorRepuesto" method="post">
            <div class="mb-3">
                <label class="form-label">Nombre del Repuesto</label>
                <input asp-for="NombreRepuesto" type="text" class="form-control">
                <span asp-validation-for="NombreRepuesto" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Precio</label>
                <input asp-for="Precio" type="number" class="form-control">
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-around">
                <button type="submit" class="btn btn-primary"> Guardar </button>
                <a asp-action="Listar" asp-controller="MantenedorRepuesto" class="btn btn-warning"> Volver a la lista <i class="bi bi-list"></i></a>
            </div>
        </form>
    </div>
</div>