@model SoatModel
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <h5 class="card-header">Editar Soat</h5>
    <div class="card-body">
        <form asp-action="Editar" asp-controller="MantenedorSoat" method="post">
            <input asp-for="idSOAT" type="hidden" class="form-control">
            <div class="mb-3">
                <label class="form-label">ID VEHICULO</label>
                <input readonly asp-for="vehiculoFK" type="text" class="form-control">
                <span asp-validation-for='vehiculoFK' class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">FECHA COMPRA</label>
                <input asp-for="fechaCompra" type="date" class="form-control">
                <span asp-validation-for='fechaCompra' class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">FECHA VENCIMIENTO</label>
                <input asp-for="fechaVencimiento" type="date" class="form-control">
                <span asp-validation-for='fechaVencimiento' class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Listar" asp-controller="MantenedorSoat" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>
